* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/hero-section.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
    width: 420px;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid #ffffff;
    backdrop-filter: blur(12px) brightness(0.85) saturate(1.2);
    animation: pulseGlow 4s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper h1 {
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(90deg, #ffc3a0, #ff7eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* for Firefox */
    color: transparent;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: #ffffff;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    color: #3498db;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 400;
}

.wrapper .btn:hover {
    color: #6a5acd;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}

.register-link a:hover {
    color: #6a5acd;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 200, 255, 0.05),
            0 0 20px rgba(255, 200, 255, 0.05) inset;
    }

    50% {
        box-shadow: 0 0 20px rgba(255, 200, 255, 0.1),
            0 0 30px rgba(255, 200, 255, 0.12) inset;
    }

    100% {
        box-shadow: 0 0 10px rgba(255, 200, 255, 0.05),
            0 0 20px rgba(255, 200, 255, 0.05) inset;
    }
}